body{
    margin: 0;
    padding: 0;
}

.imghead{    
    display: flex;
    width: 126px;
    height: 21px;
 
}
.homeblockimg{
    width: 100%;
    position:relative;
    padding-top: -20px;
    
    
    
    


}


p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    padding-left: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding-bottom: 0;
    font-size:36px;
    padding-top: 20px;
    margin-left: 10px;
}

h2{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#menuhead li{
    display: inline;
    color: #0086BF;
    font-weight: bold;
    padding-right: 20px;
    }

.menuhigh {
    font-family: Arial, Helvetica, sans-serif;

}

.menuhigh2{
    display:flex;
    justify-content: flex-end;
}

.menuhigh img{
    
    align-self: flex-start;
    margin-bottom: -30px;
    padding-left: 32px;
    padding-top: 20px;
    
}

.menuhead {
    display: flex;
    list-style: none;
}
.homeblock{
    display: flex;
    padding-top: 10px;
   
}
.imgblock{
    width: 100%;
    
}

button{

    box-sizing: border-box;
    padding: 8px 32px 8px 18px;
    height: 38px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #0086BF;
    color: white;
}

    button:hover{
        background-color:  #005293;
        cursor: pointer;
    }


.homeblock2 {
    background-color: #f2f2f2 ;
    display: flex;
    justify-content: center;

}
.homeblock2 img{
    display: block;
    
    block-size: 360px;
    width: 544px;
    height: 340px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -150px;
    border-radius: 4px;

}

.txtroad{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 52px;
}

.input{
    height: 44px;
    line-height: 10px;
    margin-right: 8px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

input {
    margin-right: 1em;
    padding-right: 1em;
}

.propo2{
    height: 40px;

}
.car{
    height: 78px;
}

.trajet{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #F9F9F9;
    display:flex;
    justify-content:center;
    margin-left: -320px;

}
.avantages{
    background-color: #F9F9F9
}


