body{
    margin: 0;
    padding: 0;
}

.imghead{    
    display: flex;
    width: 126px;
    height: 21px;

    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding-bottom: 0;
    font-size:36px;
    padding-top: 20px;
    margin-left: 10px;
}

#menuhead li{
    display: inline;
    color: #0086BF;
    font-weight: bold;
    padding-right: 20px;
    }

.menuhigh {
    font-family: Arial, Helvetica, sans-serif;

}

.menuhigh2{
    display:flex;
    justify-content: flex-end;
}

.menuhigh img{
    
    align-self: flex-start;
    margin-bottom: -30px;
    padding-left: 32px;
    padding-top: 20px;
    
}

.menuhead {
    display: flex;
    list-style: none;
}
.homeblock{
    display: flex;
    padding-top: 10px;
   
}
.imgblock{
    width: 100%;
    
}

.img3{
background-image: url("/images/homeblock_main_desktop_fr_FR_v01.jpg");
width: 100%;
height: 350px;
background-size: 100%;
background-repeat: no-repeat;
background-position-y: -30px;
}

.propo{
    
    box-sizing: border-box;
    padding: 8px 32px 8px 18px;
    height: 36px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #0086BF;
    color: white;

}
.buttonpropo{
    
    box-sizing: border-box;
    padding: 8px 32px 8px 18px;
    height: 36px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #0086BF;
    color: white;
}

button{

    background-color:#0086BF;
    box-sizing: border-box;
    line-height: 1.25;
    cursor: pointer;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
    }

.homeblock2 {
    background-color: #f2f2f2 ;
    display: flex;
    justify-content: center;

}

.txtroad{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 52px;
    
}
input{
    height: 38px;
    line-height: 10px;
    margin-right: 8px;
    
    
}

.propo2{
    height: 40px;

}
.car{
    height: 78px;
}
fdczed

