.imghead{    
    display: inline-block;
    width: 126px;
    height: 21px;
    vertical-align: middle;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding-bottom: 0;
    font-size:30px;
}

#menuhead li {
    display: inline;
    color: #0086BF;
    font:bold
}
.menuhigh {
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    


}
.homeblock{
    display: flex;
   
}
.imgblock{
    width: 100%;
}
.propo{
    
    box-sizing: border-box;
    padding: 8px 32px 8px 18px;
    height: 36px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 15px;
    background-color: #005293;
    color: white;

}
.buttonpropo{
    
    box-sizing: border-box;
    padding: 8px 32px 8px 18px;
    height: 36px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 15px;
    background-color: #005293;
    color: white;
}

button{

    background-color:#0086BF;
    box-sizing: border-box;
    line-height: 1.25;
    cursor: pointer;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
    }

.homeblock2 {
    background-color: #f2f2f2 ;

}

.txtroad{
    display: flex;
    
}
input{
    height: 48px;
    line-height: 18px;
    margin-right: 8px;